<div class="regi-new-item">
  <h2 class="regi-new-item-title">商品新規登録</h2>
  <% if @item.errors.any? %>
    <%= @item.errors.count %>errors prohimited this obj from being saved:
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <table class="new-item-table table table-borderless">
    <tbody>
      <%= form_with model: @item, url:admin_items_path, local:true do |f| %>
      <!--https://qiita.com/ki_87/items/1ca083e4b7db460c76ea-->
      <tr>
        <td style="width:80px">商品画像</td>
        <td style="width:500px"><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td>商品名</td>
        <td><%= f.text_field :name, placeholder: "商品名" %></td>
      </tr>
      <tr valign="top">
        <td>商品説明</td>
        <td><%= f.text_area :explanation, cols:'30', rows:'5', placeholder: "ここに説明文を記述します" %></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "-- 選択してください --" %></td>
        <!--↑参考URL：https://qiita.com/Yu-8chan/items/58528f3ae5d4e0558bd5-->
      </tr>
      <tr>
        <td>税抜価格</td>
        <td><%= f.text_field :price, placeholder: "1000" %>円</td>
      </tr>
      <tr>
        <td>販売ステータス</td>
        <td>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
          <!--↑参考URL：https://techacademy.jp/magazine/22208-->
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= f.submit "新規登録" %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>