<h2>商品詳細</h2>
<%= attachment_image_tag @item, :image, :fill, 200, 200, format:'jpg' %>
<!--参考URL：https://qiita.com/kazuki_k/items/ddb43a996704a7bc264e-->
<table>
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= @item.explanation %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= @item.genre.name %></td>
    </tr>
    <tr>
      <td>税込価格</br>（税抜価格）</td>
      <td><%= (@item.price*1.1).round.to_s %></br>（<%= @item.price %>）</td>
    </tr>
    <tr>
      <td>販売ステータス</td>
      <% if @item.is_active == true %>
        <% sale_status = "販売中" %>
      <% else %>
        <% sale_status = "販売停止中" %>
      <% end %>
      <td><%= sale_status %></td>
    </tr>
    <tr>
      <th colspan=2""><%= link_to "編集する", edit_admin_item_path(@item) %></th>
    </tr>
  </tbody>
</table>