<div class="container">

 <div class="row">
  <h4 class="order_title">注文情報確認</h4>
 </div>

 <%= form_with model:@order, url: orders_path, local:true do |f| %>
   <div class="row">
    <div class="col-lg-8">
     <table class="table table-bordered table-hover">
       <thead>
         <tr>
           <th style="background-color: lightblue;">商品名</th>
           <th style="background-color: lightblue;">単価（税込）</th>
           <th style="background-color: lightblue;">数量</th>
           <th style="background-color: lightblue;">小計</th>
         </tr>
       </thead>
       
       <tbody>
         <% sum = 0 %>
         <% @cart_items.each do |cart_item| %>
         <tr>
           <td><%= cart_item.item.name %></td>
           <td><%= (cart_item.item.price*1.1).round.to_s %>円</td>
           <td><%= cart_item.piece %>個</td>
           <td><%= (cart_item.item.price * cart_item.piece * 1.1).round.to_s %>円</td>
           <% cart_item.item.price = (cart_item.item.price * 1.1).round.to_s %>
           <% price = cart_item.item.price * cart_item.piece %>
           <% sum += price %>
         </tr>
         <% end %>
       </tbody>
     </table>
    </div>

    <div class="col-lg-3">
     <table class="table table-bordered">
         <tr>
           <th style="background-color: lightblue;">送料</th>
           <td><%= @order.postage %>円</td>
         </tr>
         <tr>
           <th style="background-color: lightblue;">商品合計</th>
           <td><%= sum %>円</td>
         </tr>
         <tr>
           <% @order.order_amount = sum + @order.postage %>
           <th style="background-color: lightblue;">請求額</th>
           <td><%= @order.order_amount %>円</td>
         </tr>
      </table>
     </div>
   </div>

   <div class="column">
    <div class="check_detail">
     <h5 class="order_sub_title"><strong>お支払い方法</strong></h5>
       <label><%= @order.payment_method %></label>

     <h5 class="order_sub_title"><strong>お届け先</strong></h5>
       <label>
        <%= @order.postal_code %>
        <%= @order.address %>
        <%= @order.name %>
       </label>

         <%= f.hidden_field :payment_method, :value => @order.payment_method %>
         <%= f.hidden_field :postal_code, :value => @order.postal_code %>
         <%= f.hidden_field :address, :value => @order.address %>
         <%= f.hidden_field :name, :value => @order.name %>
         <%= f.hidden_field :user_id, :value => @order.user_id %>
         <%= f.hidden_field :postage, :value => @order.postage %>
         <%= f.hidden_field :order_amount, :value => @order.order_amount %>

     <p class="order_btn"><%= f.submit '注文を確定する', class: "btn btn-success" %></p>
    </div>
   </div>
 <% end %>

</div>

