<div class="row">
  <div class="col-3">
    <%= render "customer/items/search", genres: @genres %>
  </div>
  <h2>商品一覧（全<%= @items.count %>件）</h2>
  <div class="index-item col-9">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="container-item"><%= attachment_image_tag item, :image, :fill, 200, 200, format: 'jpg' %></div>
        <div class="container-item">
          <p><%= item.name %></p>
          <p><%= item.price %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= paginate @items %>