<div class="container">

  <div class="row">
    <%= flash[:notice] %>
    <h4 class="login_title">ログイン</h4>
  </div>

  <div class="row">
    <h5 class="login_info">会員の方はこちらからログイン</h5>
  </div>

  <div class="row">
    <div class="form-group">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control, col-lg-12" %>
        </div>

        <div class="field">
          <%= f.label "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control, col-lg-12" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary btn-sm col-lg-6" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <h5 class="login_info1">会員登録がお済みでない方</h5>
  </div>

  <div class="row">
     <P class="login_info2"><%= link_to 'こちら', new_user_registration_path %>から新規登録を行ってください。</P>
  </div>

</div>




