<div class="container">

  <div class="row">
    <h4 class="signup_title">新規会員登録</h4>
  </div>

  <div class="row">
    <div class="customer-form-group">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "customer/customers/shared/error_messages", resource: resource %>

        <div class="customer_field_name">
          <%= f.label "名前" %>
          <span class="span_name">(姓)</span>
          <%= f.text_field :family_name, autofocus: true, placeholder:"山田" %>
          <span class="span_name1">(名)</span>
          <%= f.text_field :first_name, autofocus: true, placeholder:"花子" %>
        </div>

        <div class="customer_field_name">
          <%= f.label "フリガナ" %>
          <span class="span_name">(セイ)</span>
          <%= f.text_field :k_family_name, autofocus: true, placeholder:"ヤマダ" %>
          <span class="span_name1">(メイ)</span>
          <%= f.text_field :k_first_name, autofocus: true, placeholder:"ハナコ" %>
        </div>

        <div class="customer_field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %>
        </div>

        <div class="customer_field">
          <%= f.label "郵便番号（ハイフンなし）" %><br />
          <%= f.text_field :postal_code, autofocus: true, placeholder:"0000000" %>
        </div>

        <div class="customer_field">
          <%= f.label "住所" %><br />
          <%= f.text_field :address, autofocus: true, placeholder:"東京都渋谷区代々木神園0-0", class:"form-control, col-lg-7" %>
        </div>

        <div class="customer_field">
          <%= f.label "電話番号（ハイフンなし）" %><br />
          <%= f.text_field :phone_number, autofocus: true, placeholder:"0000000000" %>
        </div>

        <div class="customer_field">
          <%= f.label "パスワード(6文字以上)" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="customer_field">
          <%= f.label "パスワード(確認用)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="customer_actions">
          <%= f.submit "新規登録", class:"btn btn-success col-lg-3" %>
        </div>

      <% end %>
    </div>
  </div>

  <div class="row">
    <h4 class="signup_title">既に登録済みの方</h4>
  </div>
  <div class="row">
    <p class="login_info3"><%= link_to 'こちら',  new_user_session_path %>からログインしてください。</p>
  </div>

</div>

