<div class="container">
  <div class="row" style="margin:30px 50px 40px 20px">
    <div class="col-lg-4 offset-lg-1">
      <h3 style="background-color: #FFE28C;vertical-align: middle;text-align: center;">配送先編集</h3>
    </div>
  </div>
<%= form_with model: @address, local:true do |f| %>
  <table>
    <tr>
      <th>郵便番号（ハイフンなし）</th>
      <td style="padding-left:100px"><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td style="padding-left:100px"><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th>宛名</th>
      <td style="padding-left:100px"><%= f.text_field :name %></td>
      <td style="padding-left:20px">
        <%= f.submit '変更内容を保存', class: "btn btn-sm btn-success" %>
    </tr>
  </table>
<% end %>
</div>