<div class="cart_items-top col-lg-10 d-flex justify-content-between">
  <h2>ショッピングカート</h2>
  <%= link_to "カートを空にする", all_destroy_path, method: :delete, class: "btn btn-danger" %>
</div>
<div class="col-lg-10 cart_items-table">
  <table class="table table-bordered table-hover">
    <thead>
      <tr class="table-active">
        <td style="width:40%">商品名</td>
        <td style="width:15%">単価（税込）</td>
        <td style="width:15%">数量</td>
        <td style="width:15%">小計</td>
        <td style="width:15%"></td>
      </tr>
    </thead>
    <tbody>
      <% @sum = 0%>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= (cart_item.item.price*1.1).round.to_s %></td>
          <td>
            <%= form_with model:cart_item, method: :patch, local:true do |f| %>
              <%= f.select :piece, @number %>
              <%= f.submit "変更", class: "btn btn-success" %>
            <% end %>
          </td>
          <td><%= (cart_item.item.price*1.1*cart_item.piece).round.to_s %></td>
          <% @sum += (cart_item.item.price*1.1*cart_item.piece).round %>
          <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="cart_items-info col-lg-10 d-flex justify-content-between">
  <%= link_to "買い物を続ける", root_path, class: "fas fa-cart-plus btn btn-primary next-item" %>
  <table>
  <tr class="total-price">
    <th class="total-price-price table-active">合計金額</th>
    <th class="total-price-price" >¥ <%= @sum.round.to_s %></th>
  </tr>
  </table>
</div>
<span class="cart_items-order d-flex justify-content-center">
  <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success"  %>
</span>

